.title{
    color: orangered;
    font-size: 35px;
    text-align: center;
    margin-bottom: 80px;
}
.title-second{
    font-size: 30px;
    margin-left: 300px;
    margin-right: 300px;
    
}

#location{
    margin-left: 300px;
    margin-right: 300px;
}
.footer{
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 80px;
}